*Debug
greedy/2_maximum_value_of_the_loot/CMakeLists.txt.user
greedy/3_car_fueling/CMakeLists.txt.user
*.user
dynamicprogramming/1_money_change_again/CMakeFiles/generate.stamp
dynamicprogramming/1_money_change_again/CMakeFiles/
dynamicprogramming/1_money_change_again/ALL_BUILD.vcxproj
dynamicprogramming/1_money_change_again/ALL_BUILD.vcxproj.filters
dynamicprogramming/1_money_change_again/change_dp.sln
dynamicprogramming/1_money_change_again/.vs/change_dp/v15/.suo
dynamicprogramming/1_money_change_again/cmake_install.cmake
dynamicprogramming/1_money_change_again/change_dp.vcxproj.filters
dynamicprogramming/1_money_change_again/change_dp.vcxproj
dynamicprogramming/1_money_change_again/ZERO_CHECK.vcxproj.filters
dynamicprogramming/1_money_change_again/ZERO_CHECK.vcxproj
dynamicprogramming/1_money_change_again/CMakeCache.txt
dynamicprogramming/1_money_change_again/.vs/change_dp/v16/.suo
dynamicprogramming/1_money_change_again/.vs/
dynamicprogramming/2_primitive_calculator/build/
